* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Style pour le body */
body {
    font-size: 12px;
}

h3 {
    font-size: 18px;
}

h2 {
    font-size: 20px;
}

label {
    font-size: 12px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* Style pour le register */
.glass {
    background: rgba(22, 79, 99, 0.9);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.animate-fade-in {
    animation: fade-in 0.8s ease-out forwards;
    opacity: 0;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

.animate-fade-in-out {
    animation: fade-in-out 7s ease-in-out forwards;
    opacity: 0;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
